<%-include('./Partials/header.ejs')%>
<%-include('./Partials/navbar.ejs')%>
<h4 style="margin-left:350px;margin-top:10px">All students Fees</h4>
		<div class="row">
			<div class="col-sm-11 my-3">
					<table class="table table-bordered mx-5">
						<thead class="table-light">
							<tr>
							   <th scope="col">Name</th>
							   <th scope="col">ClassName</th>
							   <th scope="col">Roll</th>
							   <th scope="col">Examtram</th>
							   <th scope="col">Year</th>
							   <th scope="col">Paymentmode</th>
							   <th scope="col">Paymentdate</th>
							   <th scope="col">Remarks</th>
							   <th scope="col">Amount</th>
							   <th scope="col">Schoolname</th>
							</tr>
						</thead>
							<tbody>
							<%for(r of result){%>	
								<tr>
									<td><%=r.name%></td>
									 <td><%=r.classname%></td>
									 <td><%=r.roll%></td>
									 <td><%=r.examtrm%></td>
									  <td><%=r.year%></td>
									  <td><%=r.paymentmode%></td>
									  <td><%=r.paymentdate%></td>
									  <td><%=r.remarks%></td>
									  <td><%=r.amount%></td>
									  <td><%=r.schoolname%></td>
								 </tr>
							<%}%> 
						 </tbody>
					</table>
					
		 	 </div> 
		</div>
<%-include('./Partials/footer.ejs')%>
