<%-include('./Partials/header.ejs')%>
<%-include('./Partials/StudentsNavbar.ejs')%>
  <div class="container">
      <div>
        <%for(n of notices){%>
            <p><%=n.notice%></p> <span><strong><%=moment(n.createedTime)%></strong></span>
        <%}%>
      </div>
  </div>
<%-include('./Partials/footer.ejs')%>

         
