<%-include('./Partials/header.ejs')%>
      <form action='/user' method='post' enctype="multipart/form-data">
          <div class="row offset-md-1">
              <h1 class="my-3">Create Specipic School Id & Profile</h1>
              <div class="col-sm-3">
                  <div class="form-group">
                    <label for='name'>Type Your name:</label>
                    <input type="text" name="name" placeholder="Type Your Name..." class="form-control">
                  </div>
                   <%if(errors.name){%>
                    <p class="text-danger my-2"><%=errors.name%></p>
                   <%}%>

                  <div class="form-group">
                    <label for='accountid'>Type Your Account Id:</label>
                    <input type="Number" name="accountid" placeholder="Type Your Account Id..." class="form-control">
                  </div>

                    <%if(errors.accountid){%>
                    <p class="text-danger my-2"><%=errors.accountid%></p>
                   <%}%>

                  <div class="form-group">
                    <label for='password'>Type Your Password:</label>
                    <input type="password" name="password" placeholder="Type Your Password..." class="form-control">
                  </div>

                    <%if(errors.password){%>
                    <p class="text-danger my-2"><%=errors.password%></p>
                   <%}%>

                  <div class="form-group">
                    <label for='conformpassword'>Type Your ConformPassword:</label>
                    <input type="password" name="conformpassword" placeholder="Type Your conform Password..." class="form-control">
                  </div>

                  <%if(errors.conformpassword){%>
                    <p class="text-danger my-2"><%=errors.conformpassword%></p>
                   <%}%>

                  <div class="form-group">
                    <label for='birthday'>Type Your Date Of Birth:</label>
                    <input type="Date" name="birthday"  class="form-control">
                  </div>

                  <%if(errors.birthday){%>
                    <p class="text-danger my-2"><%=errors.birthday%></p>
                   <%}%>

                  <div class="">
                    <label for=''>Checked Your Gender</label>
                    <br>
                    <input type="radio" name="gender"  class="" value='Male'>
                    <label for='male'>Male</label>
                  </div>

                   <div class="">
                    <input type="radio" name="gender"  class="" value='FeMale'>
                    <label for='female'>FeMale</label>
                  </div>

                  <div class="">
                    <input type="radio" name="gender"  class="" value='Other'>
                    <label for='other'>Other</label>
                  </div>

                     <%if(errors.gender){%>
                    <p class="text-danger my-2"><%=errors.gender%></p>
                   <%}%>
              </div>
              <div class="col-md-3">
                  <div class="form-group">
                      <label for='schoolname'>Type Your School Name:</label>
                      <input type="text" name="schoolname" placeholder="Type Your School Name..." class="form-control">
                  </div>

                   <div class="form-group">
                      <label for='village'>Type Your School Village Name:</label>
                      <input type="text" name="village" placeholder="Type Your School Village Name..." class="form-control">
                  </div>

                  <div class="form-group">
                      <label for='phonenumber'>Type Your School Phone Number:</label>
                      <input type="Number" name="phonenumber" placeholder="Type Your School Phone Number..." class="form-control">
                  </div>

                  <div class="form-group">
                      <label for='website'>Type Your School Website Name:</label>
                      <input type="text" name="website" placeholder="Type Your School Website..." class="form-control">
                  </div>

                  <div class="form-group">
                      <label for='email'>Type Your School Email:</label>
                      <input type="email" name="email" placeholder="Type Your School email..." class="form-control">
                  </div>

                   <div class="form-group">
                        <label for="exampleFormControlFile1">Upload School Logo</label>
                        <input type="file" class="form-control-file my-2" id="exampleFormControlFile1" name='schoollogo'>
                  </div>
              </div>
          </div>
           <div class="">
                    <input style="margin-left: 120px" type="submit" class="btn btn-success my-2" value="Create Account">
            </div>    
      </form>
<%-include('./Partials/header.ejs')%>