<%-include('./Partials/header.ejs')%>
<%-include('./Partials/StudentsNavbar.ejs')%>
	<div class="row">
				<div class="col-md-5 offset-md-3">
					<%if(nopro){%>
						<h1 class="text-danger"><%=nopro%></h1>
					<%}%>
					
					<%if(pro){%>
						<center><img style="width:200px;height:200px;border-radius:5px;border:1px solid #ddd"src="<%=st.profilepic%>"></center>
						<p class="mt-3"> <strong>Name :</strong> <%=st.name%></p>
						<p class=""><strong>Email :</strong> <%=st.email%></p>
						<p class=""><strong>Class :</strong> <%=st.classname%></p>
						<p class=""><strong>Roll :</strong> <%=st.roll%></p>
						<p class=""><strong>Subject :</strong> <%=st.subject%></p>
						<p class=""><strong>Fathername :</strong> <%=st.fathername%></p>
						<p class=""><strong>Mothername :</strong> <%=st.mothername%></p>
						<p class=""><strong>Date Of Birth :</strong> <%=st.birthday%></p>
						<p class=""><strong>Year :</strong> <%=st.year%></p>
						<p class=""><strong>District :</strong> <%=st.district%></p>
						<p class=""><strong>Phone Number :</strong> <%=st.phonenumber%></p>
						<p class=""><strong>Religion :</strong> <%=st.religion%></p>
							<%if(st.description){%>
								<p class=""><strong>Description:</strong> <%=st.description%></p>
						<%}%>
					<%}%>
				</div>
			</div>
	</div>
<%-include('./Partials/footer.ejs')%>
