<%-include('./Partials/header.ejs')%>
<%-include('./Partials/StudentsNavbar.ejs')%>
	<div class="row">
				<div class="col-md-5 offset-md-3">
					<%if(nopro){%>
						<h1 class="text-danger"><%=nopro%></h1>
					<%}%>
					
					<%if(pro){%>
						<center><img style="width:200px;height:200px;border-radius:5px;border:1px solid #ddd"src="<%=std.profilepic%>"></center>
						<p class="mt-3"> <strong>Name :</strong> <%=std.name%></p>
						<p class=""><strong>Email :</strong> <%=std.email%></p>
						<p class=""><strong>Class :</strong> <%=std.classname%></p>
						<p class=""><strong>Roll :</strong> <%=std.roll%></p>
						<p class=""><strong>Subject :</strong> <%=std.subject%></p>
						<p class=""><strong>Fathername :</strong> <%=std.fathername%></p>
						<p class=""><strong>Mothername :</strong> <%=std.mothername%></p>
						<p class=""><strong>Date Of Birth :</strong> <%=std.birthday%></p>
						<p class=""><strong>Year :</strong> <%=std.year%></p>
						<p class=""><strong>District :</strong> <%=std.district%></p>
						<p class=""><strong>Phone Number :</strong> <%=std.phonenumber%></p>
						<p class=""><strong>Religion :</strong> <%=std.religion%></p>
							<%if(std.description){%>
								<p class=""><strong>Description:</strong> <%=std.description%></p>
						<%}%>
					<%}%>
				</div>
			</div>
	</div>
<%-include('./Partials/footer.ejs')%>
