<%-include('./Partials/header.ejs')%>
<%-include('./Partials/StudentsNavbar.ejs')%>
	<div class="container">
		<form action='/result/searchresult' method='post' class="my-4">
			<input style="width:170px;height:38px;border-radius:5px;border:1px solid #ddd" type="Number" name="classname" placeholder="ClassName..">

			<input class="mx-2" style="width:170px;height:38px;border-radius:5px;border:1px solid #ddd" type="Number" name="roll" placeholder="Class Roll..">

			<select name='exatram' style="width:175px;height:38px;border-radius:5px;border:1px solid #ddd">
				<option selected>Selected Your Exam...</option>
				<option value="First Exam">First Examination</option>
				<option value="Second Exam">Second Examination</option>
				<option value="Final">Final Examination</option>
			</select>

			<select name='year' class="mx-2" style="width:175px;height:38px;border-radius:5px;border:1px solid #ddd">
				<option selected>Selected Your Examination Year</option>
				<option value=2021>2021</option>
				<option value=2022>2022</option>
				<option value=2023>2023</option>
			</select>

			<input style="width:150px;height:40px;border-radius:5px;border:1px solid #ddd" type="submit"  class="btn btn-outline-primary" value='Preview'>
		</form>
		<div class="row mt-3">
			<div class="col-md-6">
				<%if(preview){%>
					<div>
						<p><strong>Name : </strong><span><a href="/result/<%=st._id%>"><%=st.name%></a></span></p>
						<p> <strong> ClasName : </strong><span><%=st.classname%></span> </p> 
						<p> <strong> Roll : </strong><span><%=st.roll%></span></p>
						<p> <strong> Examination Name: </strong><span><%=st.exatram%></span> </p> 
						<p> <strong> Examination Year: </strong><span><%=st.year%></span></p> 
					</div>
					<%if(st.groupname){%>
						<p> <strong> GroupName : </strong><span><%=st.groupname%></span> </p>
					<%}%>
					<table class="table table-striped table-primary">
					  <thead>
					    <tr>
					      <th scope="col">#</th>
					      <th scope="col">Subject Name</th>
					      <th scope="col">Subject Number</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th scope="row">1</th>
					      <td><%=st.subject.subjectname1%></td>
					      <td><%=st.subject.subjectnumber1%></td>
					    </tr>
					    <%if(st.subject.subjectname2){%>
					    <tr>
					      <th scope="row">4</th>
					      <td><%=st.subject.subjectname2%></td>
					      <td><%=st.subject.subjectnumber2%></td>
					    </tr>
					    <%}%>

					    <%if(st.subject.subjectname3){%>
					    <tr>
					      <th scope="row">2</th>
					      <td><%=st.subject.subjectname3%></td>
					      <td><%=st.subject.subjectnumber3%></td>
					    </tr>
					    <%}%>

					    <%if(st.subject.subjectname4){%>
					    <tr>
					      <th scope="row">4</th>
					      <td><%=st.subject.subjectname4%></td>
					      <td><%=st.subject.subjectnumber4%></td>
					    </tr>
					    <%}%>
					    <%if(st.subject.subjectname5){%>
					    <tr>
					      <th scope="row">5</th>
					      <td><%=st.subject.subjectname5%></td>
					      <td><%=st.subject.subjectnumber5%></td>
					    </tr>
					    <%}%>
					    <%if(st.subject.subjectname6){%>
					    <tr>
					      <th scope="row">6</th>
					      <td><%=st.subject.subjectname6%></td>
					      <td><%=st.subject.subjectnumber6%></td>
					    </tr>
					    <%}%>

					    <%if(st.subject.subjectname7){%>
					    <tr>
					      <th scope="row">7</th>
					      <td><%=st.subject.subjectname7%></td>
					      <td><%=st.subject.subjectnumber7%></td>
					    </tr>
					    <%}%>


					    <%if(st.subject.subjectname8){%>
					    <tr>
					      <th scope="row">7</th>
					      <td><%=st.subject.subjectname8%></td>
					      <td><%=st.subject.subjectnumber8%></td>
					    </tr>
					    <%}%>

					    <%if(st.subject.subjectname9){%>
					    <tr>
					      <th scope="row">7</th>
					      <td><%=st.subject.subjectname9%></td>
					      <td><%=st.subject.subjectnumber9%></td>
					    </tr>
					    <%}%>

					    <%if(st.subject.groupsubject1){%>
					    <tr>
					      <th scope="row">7</th>
					      <td><%=st.subject.groupsubject1%></td>
					      <td><%=st.subject.groupsubjectnumber1%></td>
					    </tr>
					    <%}%>

					     <%if(st.subject.groupsubject2){%>
					    <tr>
					      <th scope="row">7</th>
					      <td><%=st.subject.groupsubject2%></td>
					      <td><%=st.subject.groupsubjectnumber2%></td>
					    </tr>
					    <%}%>

					     <%if(st.subject.groupsubject3){%>
					    <tr>
					      <th scope="row">7</th>
					      <td><%=st.subject.groupsubject3%></td>
					      <td><%=st.subject.groupsubjectnumber3%></td>
					    </tr>
					    <%}%>
					     <%if(st.subject.groupsubject4){%>
						    <tr>
						      <th scope="row">7</th>
						      <td><%=st.subject.groupsubject4%></td>
						      <td><%=st.subject.groupsubjectnumber4%></td>
						    </tr>
					    <%}%>
					  </tbody>
					</table>
					<%if(st.discription){%>
						<p><%=st.discription%></p>
					<%}%>
				<%}%>
				<%if(error){%>
					<h1 class="text-danger"><%=error%></h1>
				<%}%>
			</div>
		</div>
	</div>
	
<%-include('./Partials/footer.ejs')%>