<%-include('./Partials/StudentsHeaders.ejs')%>
<%-include('./Partials/studentsIdNavbar.ejs')%>
<div class="container-fluid profilemargine">
    <h3 class="text-warning text-center"><%=users.schoolname%></h3>
    <hr style="width:400px; margin-left: 420px; height:3px;background-color:white">
     <h3 class="text-primary text-center">Students Profile Page</h3>
        <div class="col">
            <div class="student-profile py-4">
              <div class="container">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="card shadow-sm">
                      <div class="card-header bg-transparent text-center">
                        <img class="profile_img" src="<%=users.photo%>" alt="student dp">
                        <h3><%=users.name%></h3>
                      </div>
                      <div class="card-body">
                        <p class="mb-0"><strong class="pr-1">Student ID:</strong><%=users.roll%></p>
                        <p class="mb-0"><strong class="pr-1">Class:</strong><%=users.classname%></p>
                        <p class="mb-0"><strong class="pr-1">Email:</strong><%=users.email%></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div class="card shadow-sm">
                      <div class="card-header bg-transparent border-0">
                        <h3 class="mb-0 mx-2"><i class="far fa-clone pr-1"></i>General Information</h3>
                      </div>
                      <div class="card-body pt-0">
                        <table class="table table-bordered">
                          <tr>
                            <th width="30%">Roll</th>
                            <td width="2%">:</td>
                            <td><%=users.roll%></td>
                          </tr>
                          <tr>
                            <th width="30%">Email Address</th>
                            <td width="2%">:</td>
                            <td><%=users.email%></td>
                          </tr>
                          <tr>
                            <th width="30%">Gender</th>
                            <td width="2%">:</td>
                            <td><%=users.gender%></td>
                          </tr>
                          <tr>
                            <th width="30%">Address</th>
                            <td width="2%">:</td>
                            <td><%=users.address%></td>
                          </tr>
                          <tr>
                            <th width="30%">Phone Number</th>
                            <td width="2%">:</td>
                            <td><%=users.phonenumber%></td>
                          </tr>
                        </table>
                      </div>
                    </div>
                      <div style="height: 26px"></div>
                    <div class="card shadow-sm">
                      <div class="card-header bg-transparent border-0">
                        <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Other Information</h3>
                      </div>
                      <div class="card-body pt-0">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
<%-include('./Partials/StudentsFooter.ejs')%>