<%-include('./Partials/header.ejs')%>
<%-include('./Partials/StudentsNavbar.ejs')%>
<div>
	<div class="container my-4">
		<div class="row">
			<div class="col-md-8">
				<div>
				 	<h1>অ্যাপটি স্কুল দ্বারা পরিচালিত হয়</h1>
		             <p>অ্যাপটি স্কুল প্রশাসনের দ্বারা পরিচালিত হয় যাতে তাদের ক্লাস অনুযায়ী শিক্ষক কর্মীদের কার্যকলাপের সময়সূচী করা হয় এবং অভিভাবকদের তাদের বাচ্চাদের অগ্রগতি রিপোর্ট অ্যাক্সেস করার জন্য অ্যাপ অ্যাক্সেস প্রদান করে। এটি একটি শিশুর অগ্রগতির উপর সরাসরি এবং ক্রমাগত নজর রাখার একটি সম্পূর্ণ সমাধান।</p>
	         	 </div>

          			<h4>Find Students</h4>
			</div>

			<div class="col-md-4">
				<img src="https://res.cloudinary.com/dvvjwexxg/image/upload/v1635842302/boot_cmiatx.png">
			</div>
		</div>
		
		<form action='/' method='post'>
			<div class="row">
				<div class="col-sm-3">
					<input type="text" name="classname" placeholder="ClassName.." class="form-control">
				</div>


				<div class="col-sm-3">
					<input type="text" name="roll" placeholder="Class Roll.." class="form-control">
				</div>

				<div class="col-sm-3">
						<select style="width:270px;height:38px;border-radius:5px;border:1px solid #ddd" name='schoolname' class="custom-select">
							<option>Selected One</option>
		                  <%for(let schoolmanagment of data){%>
		                  	<option value="<%=schoolmanagment.schoolname%>">
		                  		<%=schoolmanagment.schoolname%>		
		                  	</option>	
		                  <%}%>
		             </select>
				</div>
				<div class="col-sm-3">
					<input type="submit"  class="btn btn-outline-success" value='Preview'>
				</div>
			</div>

		</form>

	<div class="mt-5">
		<%if(search){%>
			<div class="row">
				<div class="col-md-5 offset-md-3 card card-body st_data text-light">
					<center><img style="width:200px;height:200px;border-radius:5px;border:1px solid #ddd"src="<%=st.profilepic%>"></center>
						<p class="mt-3"><strong>SchoolName :</strong> <%=st.schoolname%></p>
						<p class=""> <strong>Name :</strong> <%=st.name%></p>
						<p class=""><strong>Email :</strong> <%=st.email%></p>
						<p class=""><strong>Class :</strong> <%=st.classname%></p>
						<p class=""><strong>Roll :</strong> <%=st.roll%></p>
						<p class=""><strong>Year :</strong> <%=st.year%></p>
						<p class=""><strong>Subject :</strong> <%=st.subject%></p>
						<p class=""><strong>Fathername :</strong> <%=st.fathername%></p>
						<p class=""><strong>Mothername :</strong> <%=st.mothername%></p>
						<p class=""><strong>Date Of Birth :</strong> <%=st.birthday%></p>
						<p class=""><strong>District :</strong> <%=st.district%></p>
						<p class=""><strong>Phone Number :</strong> <%=st.phonenumber%></p>
						<p class=""><strong>Religion :</strong> <%=st.religion%></p>
							<%if(st.description){%>
								<p class=""><strong>Description:</strong> <%=st.description%></p>
						<%}%>
				</div>
			</div>
		<%}%>
	</div>

	<%if(error){%>
		<h1 class="display-1 text-center text-danger"><%=error%></h1>
	<%}%>
	</div>
</div>
<%-include('./Partials/footer.ejs')%>

